[submodule "pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "fmt"]
	path = external/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "eigen"]
	path = external/eigen
	url = git@github.com:eigenteam/eigen-git-mirror.git
